<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.capsl.social.feature.wall">

    <application>
        <activity
            android:name=".WallActivity"
            android:label="@string/empty">
            <intent-filter>
                <action android:name="cc.capsl.social.feature.wall.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>